accelerate==0.20.3
einops==0.6.1
fastapi==0.99.1
gradio==3.33.1
gradio_client==0.2.5
huggingface-hub==0.16.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==0.27.8
pandas==2.0.3
rich==13.4.2
scipy==1.11.1
sentencepiece==0.1.99
streamlit==1.24.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
transformers @ git+https://github.com/huggingface/transformers@abaca9f9432a84cfaa95531de4c72334f38a42f2
triton==2.0.0
uvicorn==0.22.0
watchdog==3.0.0